.Trello__Caps.Container {
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.TypeTab.Inactive {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: #0A2239;
    border-style: solid;
    border-width: 0 0 1px;
}

.TypeTab.Active {
    border-color: #0A2239;
    border-style: solid;
    border-width: 1px 1px 0;
}

.Trello__Caps.Container .Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Fields__Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0.5rem 0 0 0;
}

.Trello__Caps.Container .InputField {
    margin: 0.3rem 0;
    width: 100%;
}

.Trello__Caps.Container .InputField .Input {
    width: 100%;
}